In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://root:root@myatlascluster.5nfni.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['myatlascluster-shard-00-00.5nfni.mongodb.net:27017', 'myatlascluster-shard-00-01.5nfni.mongodb.net:27017', 'myatlascluster-shard-00-02.5nfni.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-t8m8wd-shard-0', tls=True), 'test')

In [3]:
db1=client.test1

In [6]:
db2=client["shr_db"]

In [7]:
client.list_database_names()

['admin', 'local']

In [8]:
dict1 = {
    "name": "shreyas",
    "surname": "banagar"
}

In [10]:
col1 = db2["first_collection"]
col1.insert_one(dict1)

In [12]:
dict2 = {
    "name": "navneet",
    "surname": "ravichandran",
    "degree": ['mbbs', 'md'],
    "bldg": (16,103)
}

In [13]:
col1.insert_one(dict2)

In [16]:
dict3 = {
    "_id": "99",
    "name": "nikhil",
    "surname": "nayak"
}

In [17]:
col1.insert_one(dict3)

In [18]:
for i in col1.find():
    print(i)

{'_id': ObjectId('620f8ff489eea140171f13c1'), 'name': 'shreyas', 'surname': 'banagar'}
{'_id': ObjectId('620f920889eea140171f13c2'), 'name': 'navneet', 'surname': 'ravichandran', 'degree': ['mbbs', 'md'], 'bldg': [16, 103]}
{'_id': '99', 'name': 'nikhil', 'surname': 'nayak'}

In [21]:
for i in col1.find({"name": "navneet"}):
    print(i)

{'_id': ObjectId('620f920889eea140171f13c2'), 'name': 'navneet', 'surname': 'ravichandran', 'degree': ['mbbs', 'md'], 'bldg': [16, 103]}

In [22]:
for i in col1.find({"name": {"$in": ["shreyas","navneet"]}}):
    print(i)

{'_id': ObjectId('620f8ff489eea140171f13c1'), 'name': 'shreyas', 'surname': 'banagar'}
{'_id': ObjectId('620f920889eea140171f13c2'), 'name': 'navneet', 'surname': 'ravichandran', 'degree': ['mbbs', 'md'], 'bldg': [16, 103]}