In [93]:
import csv
import mysql.connector as conn

In [94]:
mydb = conn.connect(host = 'bjnqjjyrdwceenpesae2-mysql.services.clever-cloud.com', user='ulbbyxidrojqjova', password='ZH9q5Hd0m9gBPhAZM7hy')

In [95]:
cursor=mydb.cursor()
cursor.execute('use bjnqjjyrdwceenpesae2')

In [5]:
cursor.execute('create table testtable(id int(3), no int(3))')

In [88]:
value = ('?', '77', 'ok@ok.com')
str_value = str(value).replace('\'?\'','NULL')
print(str_value)

(NULL, '77', 'ok@ok.com')

In [89]:
cursor.execute(f"insert into bjnqjjyrdwceenpesae2.testtable values{str_value}")

In [91]:
with open('testdb.data','r') as f:
    test_data=csv.reader(f,delimiter='\n')
    for line in test_data:
        print(line[0])
        values=str(tuple(line[0].split(',')))
        values=values.replace('\'?\'','NULL')
        cursor.execute(f"insert into bjnqjjyrdwceenpesae2.testtable values{values}")

?,69,ok@ok.com
5,?,hi@hi.com

In [92]:
mydb.commit()

In [19]:
cursor.execute('alter table testtable add column email varchar(255)')