In [1]:
import sqlite3

In [23]:
db = sqlite3.connect('ineuron.db')

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE4E-8ADB

 Directory of C:\Users\shreyas.banagar\OneDrive - Zycus\iNeuron\Repos\ineuron-classes\SQLite

04-Mar-22  08:54 PM    <DIR>          .
04-Mar-22  08:54 PM    <DIR>          ..
04-Mar-22  08:51 PM    <DIR>          .ipynb_checkpoints
04-Mar-22  08:53 PM                 0 ineuron.db
04-Mar-22  08:54 PM               923 sqlite-class-1.ipynb
               2 File(s)            923 bytes
               3 Dir(s)  166,163,542,016 bytes free

In [4]:
c = db.cursor()

In [5]:
c.execute('create table first_table(name text, rollno int, marks real)')

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE4E-8ADB

 Directory of C:\Users\shreyas.banagar\OneDrive - Zycus\iNeuron\Repos\ineuron-classes\SQLite

04-Mar-22  08:59 PM    <DIR>          .
04-Mar-22  08:59 PM    <DIR>          ..
04-Mar-22  08:51 PM    <DIR>          .ipynb_checkpoints
04-Mar-22  08:59 PM             8,192 ineuron.db
04-Mar-22  08:58 PM             2,045 sqlite-class-1.ipynb
               2 File(s)         10,237 bytes
               3 Dir(s)  166,124,818,432 bytes free

In [12]:
c.execute('insert into first_table values("shreyas",3,94.2)')

In [16]:
data = c.execute('select * from first_table')

In [17]:
for row in data:
    print(row)

('shreyas', 3, 94.0)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)

In [18]:
c.execute('update first_table set marks=99 where name="shreyas"')

In [19]:
db.commit()

In [20]:
data = c.execute('select * from first_table')
for row in data:
    print(row)

('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)

In [21]:
# Close the db just like a file
db.close()

In [24]:
db = sqlite3.connect('ineuron.db')
c = db.cursor()

In [27]:
data = c.execute('select * from first_table where marks > 100')
for row in data:
    print(row)