In [1]:
import sqlite3

In [2]:
# Creates the db file
db = sqlite3.connect('ineuron.db')

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE4E-8ADB

 Directory of C:\Users\shreyas.banagar\OneDrive - Zycus\iNeuron\Repos\ineuron-classes\SQLite

13-Mar-22  05:02 PM    <DIR>          .
13-Mar-22  05:02 PM    <DIR>          ..
04-Mar-22  08:51 PM    <DIR>          .ipynb_checkpoints
13-Mar-22  05:02 PM                 0 ineuron.db
04-Mar-22  11:20 PM             6,056 sqlite-class-1.ipynb
               2 File(s)          6,056 bytes
               3 Dir(s)  163,015,315,456 bytes free

In [4]:
c = db.cursor()

In [5]:
c.execute('create table first_table(name text, rollno int, marks real)')

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DE4E-8ADB

 Directory of C:\Users\shreyas.banagar\OneDrive - Zycus\iNeuron\Repos\ineuron-classes\SQLite

13-Mar-22  05:03 PM    <DIR>          .
13-Mar-22  05:03 PM    <DIR>          ..
04-Mar-22  08:51 PM    <DIR>          .ipynb_checkpoints
13-Mar-22  05:03 PM             8,192 ineuron.db
04-Mar-22  11:20 PM             6,056 sqlite-class-1.ipynb
               2 File(s)         14,248 bytes
               3 Dir(s)  163,013,251,072 bytes free

In [14]:
c.execute('insert into first_table values("shreyas",3,94.2)')

In [15]:
data = c.execute('select * from first_table')

In [16]:
for row in data:
    print(row)

('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)
('shreyas', 3, 94.2)

In [17]:
c.execute('update first_table set marks=99 where name="shreyas"')

In [18]:
db.commit()

In [19]:
data = c.execute('select * from first_table')
for row in data:
    print(row)

('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)

In [20]:
# Close the db just like a file
db.close()

In [22]:
db = sqlite3.connect('person.db')
c = db.cursor()

In [23]:
c.execute('create table person_table(name text, emailid text, age int, salary real)')

In [29]:
c.execute('insert into person_table values("shreyas","shreyasbanagar7@gmail.com",23,12345.65)')

In [30]:
data = c.execute('select * from person_table')
for row in data:
    print(row)

('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)
('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)
('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)
('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)
('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)

In [32]:
db.commit()

In [33]:
db.close()

In [34]:
db = sqlite3.connect('ineuron.db')
c=db.cursor()

In [35]:
c.execute('create table second_table(name text, id int)')

In [48]:
c.execute('insert into second_table values("shreyas",77)')

In [50]:
data = c.execute('select * from first_table')
for row in data:
    print(row)

('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)
('shreyas', 3, 99.0)

In [44]:
tables = c.fetchall()
for table_name in tables:
    print(table_name[1])

In [51]:
db.close()

In [52]:
db = sqlite3.connect('person.db')

In [53]:
c=db.cursor()

In [54]:
data = c.execute('SELECT * FROM person_table limit 2')

In [55]:
for row in data:
    print(row)

('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)
('shreyas', 'shreyasbanagar7@gmail.com', 23, 12345.65)