In [3]:
import pandas as pd

In [3]:
df = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [4]:
type(df)

list

In [5]:
df

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [6]:
len(df)

1

In [7]:
df[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [8]:
type(df[0])

pandas.core.frame.DataFrame

In [9]:
df[0].dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [10]:
df[0][['Player','Age']]

             Player Age
0        Quincy Acy  24
1      Jordan Adams  20
2      Steven Adams  21
3       Jeff Adrien  28
4     Arron Afflalo  29
..              ...  ..
670  Thaddeus Young  26
671  Thaddeus Young  26
672  Thaddeus Young  26
673     Cody Zeller  22
674    Tyler Zeller  25

[675 rows x 2 columns]

In [11]:
df1 = df[0]

In [16]:
df1.to_csv('NBA.csv',index=False,header=False)

In [17]:
l = pd.read_html('https://stats.espncricinfo.com/ci/engine/records/averages/batting.html?class=3;id=6;type=team')

In [18]:
len(l)

3

In [20]:
l[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,AB Agarkar,2006-2007,4,2,0,15,14,7.50,11,136.36,0,0,0,2,0
1,KK Ahmed,2018-2019,14,1,1,1,1*,-,1,100.00,0,0,0,0,0
2,S Aravind,2015-2015,1,-,-,-,-,-,-,-,-,-,-,-,-
3,R Ashwin,2010-2021,51,11,7,123,31*,30.75,115,106.95,0,0,0,14,1
4,Avesh Khan,2022-2022,1,-,-,-,-,-,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,R Vinay Kumar,2010-2013,9,1,1,2,2*,-,4,50.00,0,0,0,0,0
93,Washington Sundar,2017-2021,31,11,4,47,14*,6.71,32,146.87,0,0,3,4,3
94,SA Yadav,2021-2022,14,12,3,351,65,39.00,212,165.56,0,4,1,32,20
95,UT Yadav,2012-2019,7,1,0,2,2,2.00,4,50.00,0,0,0,0,0
96,Yuvraj Singh,2007-2017,58,51,9,1177,77*,28.02,863,136.38,0,8,1,77,74

In [21]:
l[1]

                                                   0
0  By default, the shading indicates records from...
1  Adjust:  most recent  | past week  | past mont...

In [22]:
l[2]

                                                   0
0  Records includes the following current or rece...
1  India v Sri Lanka at Dharamsala, 2nd T20I, Feb...
2  India v Sri Lanka at Lucknow, 1st T20I, Feb 24...
3  India v West Indies at Kolkata, 3rd T20I, Feb ...

In [23]:
l[0].to_csv('cric.csv')

In [26]:
d = """
{
"name": "shreyas",
"email id": "shreyasbanagar7@gmail.com",
"tech": ["ML", "DL", "NLP", "CV","RL"]
}
"""

In [28]:
import json

In [29]:
res = json.loads(d)

In [30]:
res

{'name': 'shreyas',
 'email id': 'shreyasbanagar7@gmail.com',
 'tech': ['ML', 'DL', 'NLP', 'CV', 'RL']}

In [32]:
pd.DataFrame(res)

      name                   email id tech
0  shreyas  shreyasbanagar7@gmail.com   ML
1  shreyas  shreyasbanagar7@gmail.com   DL
2  shreyas  shreyasbanagar7@gmail.com  NLP
3  shreyas  shreyasbanagar7@gmail.com   CV
4  shreyas  shreyasbanagar7@gmail.com   RL

In [33]:
pd.read_json(res)

ValueError: Invalid file path or buffer object type: <class 'dict'>

NameError: name 'false' is not defined

In [9]:
data2 = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [16]:
df = pd.DataFrame(data2)

ValueError: DataFrame constructor not properly called!

In [11]:
df2 = pd.DataFrame(data2)

ValueError: DataFrame constructor not properly called!

In [7]:
df2

,packetType,data,header
checkEngineLightFlag,D,F,NaN
batteryVoltageStableTime,D,0,NaN
batteryVoltageStable,D,0,NaN
batteryVoltageOff,D,12.42,NaN
batteryCrankParamTN,D,-0.08,NaN
batteryCrankParamVN,D,0.00,NaN
batteryCrankParamTP,D,-0.08,NaN
batteryCrankParamVP,D,0.00,NaN
batteryCrankParamTT,D,-0.00008,NaN
batteryCrankParamV0,D,0.00,NaN
batteryVoltageMaxOn,D,13.05,NaN
batteryVoltageMinOn,D,12.97,NaN
batteryVoltageMaxOff,D,12.46,NaN
batteryVoltageMinOff,D,12.36,NaN
batteryVoltageOnAverage,D,13.02,NaN
engineLoadMax,D,84,NaN
engineLoadAverage,D,39.98,NaN
rpmMax,D,3487,NaN
rpmAverage,D,1431.29,NaN
gpsSpeedAverage,D,21.99,NaN
vssMax,D,53.44,NaN
vssAverage,D,23.06,NaN
tcuTemperatureMin,D,82.40,NaN
tcuTemperatureMax,D,109.40,NaN
tcuTemperatureAverage,D,104.87,NaN
coolantMin,D,158.00,NaN
coolantMax,D,188.60,NaN
coolantAverage,D,180.20,NaN
packetStartLocal,D,1508143346000,NaN
tripStartLocal,D,1508143346000,NaN
milIndicator,D,F,NaN
monitorsNotReady,D,0,NaN
imei,D,60DF5417,60DF5417
gatewayTs,D,1515613306592,NaN
diagnosticTroubleCodeData,D,[],NaN
diagnosticPidData,D,"[[64768, 47, 100], [64768, 1, 517376], [64800,...",NaN
iwrapVer,D,NaN,1.9.20
sourceSystem,D,NaN,CDP
configVer,D,NaN,1.1
oemName,D,NaN,HUM
unitType,D,NaN,0
cpVer,D,NaN,7.50.1.9
igpsVer,D,NaN,1.3.7
messageType,D,NaN,Notification
pomVer,D,NaN,1.0
headerVer,D,NaN,V6
timestamp,D,NaN,0
deviceType,D,NaN,InDrive
visorVer,D,NaN,1.4.35
transactionId,D,NaN,53098471-7787-4160-94b3-cd69dcc70416
deviceSerialNo,D,NaN,60DF5417
subOrganization,D,NaN,HUM
organization,D,NaN,HUM
operation,D,NaN,Notification